*{
    margin: 0;
    padding: 0;
}
.Container{
    background-color: black;
    height:100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container-loc{
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.bloc1{
    background-color:white;
    height: 70vh;
    width: 20vw; 
}

.bloc1 > img {
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: 40%;
}
.bloc1 h3{
    margin-left: 5%;
}
.bloc1 h2{
    margin-left: 5%;
}
.bloc1 h5{
    margin-left: 5%;
}
.bloc1 p{
    margin-left: 5%;
}
.bloc1 a{
    margin-left: 5%;
    color: orange;
}




